@model CategoryIndex

@{
    ViewBag.Title = "Delete";
}

<h2>@ViewBag.Title</h2>
<hr />

<div>
    <p class="h3">
        Are you sure you want to delete category @Model.Name with all @Model.TicketsCount tickets ?
    </p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.HiddenFor(m=>m.Id)
        
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />&nbsp;&nbsp;
            @Html.ActionLink("Cancel", "Index", null, new { @class="btn btn-default" })
        </div>
    }
</div>
<br />
<p>
    <a href="javascript:history.go(-1)"><span class="violet"><span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>&nbsp;Go Back</span></a>
</p>
