@using PagedList;
@using PagedList.Mvc;


@model IPagedList<CategoryIndex>
@{
    ViewBag.Title = "Categories List";
}

@if (TempData["message"] != null)
{
    @Html.Partial("_Message");    
}

<h2>@ViewBag.Title</h2>

<p>@Html.ActionLink("Create new", "Create")</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th class="text-center">Count of tickets</th>
        <th class="text-center">Action</th>
    </tr>
    @foreach (var category in Model)
    {
        <tr>
            <td>@Html.DisplayFor(c => category.Name)</td>
            <td class="text-center">@Html.DisplayFor(c => category.TicketsCount)</td>
            <td class="text-center">
                @Html.ActionLink("Edit", "Edit", new { id = category.Id }) | 
                @Html.ActionLink("Delete", "Delete", new { id = category.Id })
            </td>
        </tr>
    }
</table>

@Html.PagedListPager(Model,page => Url.Action("Index","Categories",new { page = page, area = "Admin"}), PagedListRenderOptions.ClassicPlusFirstAndLast)

@section scripts{
    @Scripts.Render("~/bundles/show-hide-message")
}

