<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ticketing System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ticketing System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated && !User.IsInRole(GlobalConstants.InactiveRole))
                    {
                        <li>@Html.ActionLink("Tickets", "Index", "Tickets", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Add Ticket", "Create", "Tickets", new { area = "" }, null)</li>
                    }
                    @if (User.IsInRole(TicketingSystem.Common.GlobalConstants.AdminRole))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Admin Aria
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation" class="dropdown-header">Categories</li>
                                <li>@Html.ActionLink("Add", "Create", "Categories", new { area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("All categories", "Index", "Categories", new { area = "Admin" }, null)</li>
                                <li class="divider"></li>
                                <li role="presentation" class="dropdown-header">Comments</li>
                                <li>@Html.ActionLink("All comments", "Index", "AdminComments", new { area = "Admin" }, null)</li>
                                <li class="divider"></li>
                                <li role="presentation" class="dropdown-header">Users</li>
                                <li>@Html.ActionLink("All users", "Index", "Users", new { area = "Admin" }, null)</li>
                            </ul>
                        </li>
                    }
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Ticketing System</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
