@using TicketingSystem.Common

@using PagedList
@using PagedList.Mvc

@model IPagedList<TicketingSystem.Web.Areas.Admin.ViewModels.UserIndex>


@{
    ViewBag.Title = "Users";
}

@if (TempData["message"] != null)
{
    @Html.Partial("_Message")
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.UserName)*@
            User Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Role)*@
            Role
        </th>
        <th class="text-center">
            @*@Html.DisplayNameFor(model => model.Points)*@
            Points
        </th>
        <th class="text-center">
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.UserName)*@
                @Html.ActionLink(item.UserName, "Details", new { userId = Cipher.Encrypt(item.Id) })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td class="text-center">
                @*@Html.ActionLink("Details", "Details", new { userId = Cipher.Encrypt(item.Id) }) |*@
                @Html.ActionLink("Change Role", "Edit", new { userId = Cipher.Encrypt(item.Id) })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page=> Url.Action("Index",new{ page = page, area="Admin"}),PagedListRenderOptions.ClassicPlusFirstAndLast)

@section scripts{
    @Scripts.Render("~/bundles/show-hide-message")
}


